/ ******Change your password******
%section.login-section.access-section.section
  .container
    .row
      .form-box.col-sm-6.col-md-4.col-md-offset-4
        .form-box-inner
          %h2.text-center Change Password
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            = f.hidden_field :reset_password_token
            .row
              .form-container
                %form.login-form
                  .form-group.password
                    = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "New Password", type: "password"
                  / //form-group
                  .form-group.password
                    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmation Password", type: "password"
                  / //form-group
                  .form-group
                    = f.submit "Submit", class: "col-md-offset-2 btn btn-success"
                    %a.btn.btn-warning{:href => "/"} Cancel

