<div class="blog blog-category blog-archive container">
  <section>
    <div class="container" style="margin-top: 40px">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h4 class="sub-heading" style="margin-bottom: 30px;">Advance search</h4>
          <%= form_tag( '/admin/job_portals', :method => :get ) do |f| %>
            <div class="form-group">
              <div class="input-group">
                <%= select_tag "sector_name", options_for_select([["Buy side", "buy_side"], ["Sell side", "sell_side"], ["Corporate", "corporate"]], @sector_name), :class => "form-control", :prompt => "Sector search" %>
                  <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <%= select_tag "Geography", options_from_collection_for_select(Geo.all, "id", "name", @geo), :class => "form-control", :prompt => "Geography search" %>
                <span class="input-group-addon">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" name="location" value="<%= @location  if @location %>" placeholder="Location" />
                <span class="input-group-addon">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
            <br>
            <input class="btn col-md-offset-2 btn-primary" type="submit" name="commit" value="Search"/>
            <a href="/admin/job_portals" class="btn btn-default">Clear</a>
          <% end %>
        </div>
        <div class="col-xs-12 col-md-9">
          <h4 class="sub-heading" style="margin-bottom: 30px;">
            Jobs for approval
          </h4>
          <table class="table">

            <tbody>
            <% if @job_portals.length > 0 %>
              <% @job_portals.each do |job_portal| %>
                <tr>
                  <td>
                    <p><a href="/admin/job_portals/<%= job_portal.id %>" class="job-title"><%= job_portal.title %></a>
                    </p>
                    <p><strong><%= job_portal.company.name if job_portal.company %></strong></p>
                    <p><%= job_portal.summary %></p>
                    <p><strong>Location:</strong> <%= job_portal.location.present? ? job_portal.location.city : "" %> | <strong>Posted:</strong> <%= job_portal.created_at %> | </strong><strong> Email:</strong> <%= job_portal.email %></p>
                    <a href="/admin/job_portals/<%= job_portal.id %>" class="btn btn-warning btn-md"> More Information</a>

                    <label><input class="job_portal_is_accept" name="job_portal[is_accept]" type="checkbox" value="no" data-jobid="<%= job_portal.id %>" />&nbsp;&nbsp;Approve</label>

                  </td>
                </tr>
                <% end %>
              <% else %>
              <tr><td style="text-align: center;">No jobs for approval.</td></tr>
              <% end %>
            </tbody>
          </table>
          <div class="pull-right"><%= paginate @job_portals %></div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  $(".job_portal_is_accept").change(function() {
    var result = false;
    if(this.checked){
      result = true;
    }
    var request = $.ajax({
      url: "/admin/job_portals/approve_job/" + $(this).data("jobid"),
      type: "PUT",
      data: { value : result }
    });
    request.done(function(msg) {
      $("#log").html( msg );
    });
  });
</script>