/ ******HEADER******
%header#header.header.header-blog
  .container
    %h1.logo
      %a{:href => "/dashboard"} MergerHub
    / //logo
    %nav.main-nav.navbar-right{:role => "navigation"}
      .navbar-header
        %button.navbar-toggle{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        / //nav-toggle
      / //navbar-header
      #navbar-collapse.navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li.nav-item{ "class"=> "#{controller_name == "dashboard" ? 'active' : ''}"}
            %a{:href => "/dashboard"} Home
          %li.nav-item{ "class"=> "#{controller_name == "companies" ? 'active' : ''}"}
            %a{:href => admin_companies_path } Companies
          %li.nav-item{ "class"=> "#{controller_name == "candidates" ? 'active' : ''}"}
            %a{:href => admin_candidates_path } Candidate
          %li.nav-item{ "class"=> "#{controller_name == "sites" ? 'active' : ''}"}
            %a{:href => admin_sites_path } News
          %li.nav-item{ "class"=> "#{controller_name == "sectors" ? 'active' : ''}"}
            %a{:href => admin_sectors_path } Sectors
          %li.nav-item{ "class"=> "#{controller_name == "job_portals" ? 'active' : ''}"}
            %a{:href => admin_job_portals_path } Careers
        / //nav
      / //navabr-collapse
    / //main-nav
  / //container
/ //header