!!!
/[if IE 8] <html lang="en" class="ie8">
/[if IE 9] <html lang="en" class="ie9">
/[if !IE] <html lang="en">
%head
  %title MergerHub
  / Meta
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %meta{:content => "", :name => "description"}
  %meta{:content => "", :name => "author"}
  =# favicon_link_tag 'favicon.ico'
  = stylesheet_link_tag "application"
  = javascript_include_tag "jquery"
  = csrf_meta_tags
  /[if lt IE 9]
    / SCRIPTS
    =# javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
    =# javascript_include_tag "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

%body.home-page
  = render "layouts/header"
  = render "layouts/dashboard_content"
  = render 'toastr_rails/flash'
  = render "layouts/footer"
  / //wrapper

  / jQuery
  / SCRIPTS
  = javascript_include_tag "application"
  :javascript
    $("#header").removeClass("header-blog");
    $("#header").addClass("navbar-fixed-top");